<div>
  <!-- this is a flex that contains of two main children-->
  <!-- those two main children also contain flexes-->
  <div class="main-flex">
    <!-- the first child-->
    <div class="profile">
      <!-- there is a profile picture-->
      <div class="img">
        <img src="assets/images/doe.jpg" alt="My false image">
      </div>

      <!-- here comes the profile and last seen-->
      <div class="user">
        <h4>{{username}}</h4>
        <time>3 hours ago</time>
      </div>
    </div>

    <!--the second child -->
    <div class="contact">
      <div class="icon-flex">
        <div>1</div>
        <div>2</div>
        <div>3</div>
      </div>
    </div>
  </div>
</div>
