<!-- this is  flex, has two containers -->
<!-- the first container contains many of this users details -->
<!-- the second container deals with the user's professional details -->
<div class="main-component">
  <!-- the first container -->
  <div class="user-centric">
    <!-- this is a list of containers spanning to the bottom -->
    <!-- it contains of a TitleComponent, AboutMeComponent, ContactUsComponent, CompetenceComponent -->
    <app-title [name]="name"></app-title>


    <!-- -->
    <app-about-me></app-about-me>


    <!-- -->
    <app-contact-us></app-contact-us>


    <!-- -->
    <app-competence></app-competence>
  </div>

  <!-- the second container-->
  <div class="background-centric">
    <app-backgee></app-backgee>
  </div>
</div>
